/****** Object:  Table [dbo].[AirPort]    Script Date: 3/30/2019 4:58:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirPort](
	[AirPortId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [char](3) NOT NULL,
	[CityId] [numeric](10, 0) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Disabled] [bit] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[RelatedCityId] [numeric](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[AirPortId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AirPort] ON 

INSERT [dbo].[AirPort] ([AirPortId], [Code], [CityId], [Name], [Disabled], [Description], [RelatedCityId]) VALUES (1, N'BEL', CAST(299 AS Numeric(10, 0)), N'Belem Val de Cans', 0, NULL, NULL)
INSERT [dbo].[AirPort] ([AirPortId], [Code], [CityId], [Name], [Disabled], [Description], [RelatedCityId]) VALUES (2, N'BSB', CAST(15890 AS Numeric(10, 0)), N'Brasilia J. Kubitschek International', 0, NULL, NULL)
INSERT [dbo].[AirPort] ([AirPortId], [Code], [CityId], [Name], [Disabled], [Description], [RelatedCityId]) VALUES (3, N'CKS', CAST(43567 AS Numeric(10, 0)), N'Parauapebas Carajas', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[AirPort] OFF
